<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.ProductAdminMapper">


<!-- id主键自增长，不需要插入id的值 -->
  
  <insert id="insert" parameterType="com.ssm.model.ProductAdmin" useGeneratedKeys="true" keyProperty="id">
  	insert into llc_productAdmin (productName,productNbr,created,productType,phoneNumber,createBy,productPrice,status) values (#{productName},#{productNbr},#{created},#{productType},#{phoneNumber},#{createBy},#{productPrice},#{status})
  </insert>
  
  <select id = "queryAllProductAdmin" resultType="com.ssm.model.ProductAdmin">
  	select * from llc_productAdmin
  </select>
  
  <delete id="deleteProductAdmin" parameterType="java.lang.String">
  	delete from llc_productAdmin where id = #{id}
  </delete>
  <select id = "updateProductAdmin" parameterType="java.lang.String" resultType="com.ssm.model.ProductAdmin">
  	select * from llc_productAdmin where id = #{id}
  </select>
  
  <update id="saveProductAdmin" parameterType="com.ssm.model.ProductAdmin">
  	update llc_productAdmin 
  	set productName=#{productName,jdbcType=VARCHAR},
  		productNbr=#{productNbr,jdbcType=VARCHAR},
  		productType=#{productType,jdbcType=VARCHAR},
  		status=#{status,jdbcType=VARCHAR},
  		createBy=#{createBy,jdbcType=VARCHAR},
  		productPrice=#{productPrice,jdbcType=VARCHAR},
  		phoneNumber=#{phoneNumber,jdbcType=VARCHAR}
  	where id=#{id,jdbcType=VARCHAR}
  </update>
</mapper>