<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.RoadRescueMapper">


<!-- id主键自增长，不需要插入id的值 -->
  
  <insert id="insert" parameterType="com.ssm.model.RoadRescue" useGeneratedKeys="true" keyProperty="id">
  	insert into llc_roadRescue (callName,rescueTime,rescueAdderss,rescueName,rescueResult,remark) values (#{callName},#{rescueTime},#{rescueAdderss},#{rescueName},#{rescueResult},#{remark})
  </insert>
  
  <select id = "queryAllRoadRescue" resultType="com.ssm.model.RoadRescue">
  	select * from llc_roadRescue
  </select>
  
  <delete id="deleteRoadRescue" parameterType="java.lang.String">
  	delete from llc_roadRescue where id = #{id}
  </delete>
  
</mapper>