<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.StoreMapper">


<!-- id主键自增长，不需要插入id的值 -->
  
  <insert id="insert" parameterType="com.ssm.model.Store" useGeneratedKeys="true" keyProperty="id">
  	insert into llc_store (storeName,adderss,createDate,status) values (#{storeName},#{adderss},#{createDate},#{status})
  </insert>
  
  <select id = "queryAllStore" resultType="com.ssm.model.Store">
  	select * from llc_store 
  </select>
  
  <delete id="deleteStore" parameterType="java.lang.String">
  	delete from llc_store where id = #{id}
  </delete>
  
  <select id = "updateStore" parameterType="java.lang.String" resultType="com.ssm.model.Store">
  	select * from llc_store where id = #{id}
  </select>
  
  <update id="saveStoreStore" parameterType="com.ssm.model.Store">
  	update llc_store 
  	set storeName=#{storeName,jdbcType=VARCHAR},
  		adderss=#{adderss,jdbcType=VARCHAR},
		status=#{status,jdbcType=VARCHAR}
  	where id=#{id,jdbcType=VARCHAR}
  </update>
</mapper>