<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.UserStatisticsMapper">


<!-- id主键自增长，不需要插入id的值 -->
  
  <insert id="insert" parameterType="com.ssm.model.UserStatistics" useGeneratedKeys="true" keyProperty="id">
  	insert into userStatistics (singup,upNbr,createDate) values (#{singup},#{upNbr},#{createDate})
  </insert>
  
  <select id = "queryAllUserStatistics" resultType="com.ssm.model.UserStatistics">
  	select * from userStatistics 
  </select>
  
  <delete id="deleteUserStatistics" parameterType="java.lang.String">
  	delete from userStatistics where id = #{id}
  </delete>
  
  <select id = "updateUserStatistics" parameterType="java.lang.String" resultType="com.ssm.model.UserStatistics">
  	select * from userStatistics where id = #{id}
  </select>
  
  <update id="saveUserStatistics" parameterType="com.ssm.model.UserStatistics">
  	update userStatistics 
  	set singup=#{singup,jdbcType=VARCHAR},
  		upNbr=#{upNbr,jdbcType=VARCHAR},
  	where id=#{id,jdbcType=VARCHAR}
  </update>
</mapper>